html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif !important;
}
body {
  flex-direction: column;
  overflow: hidden;
  border-radius: 20px;
}
::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 10px;
  overflow: hidden;
}
::-webkit-scrollbar-track {
  background-color: #c2d3e6;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #009688;
  border-radius: 10px;
}
body,
main {
  height: 100vh;
  width: 100%;
  display: flex;
}
header {
  padding: 0.5rem 2rem;
}
header h3 {
  margin: 1rem;
}
main {
  -webkit-app-region: drag;
  flex-direction: row;
}
.side-panel {
  width: 300px;
  display: flex;
  flex-direction: column;
}
.side-panel .speaker {
  display: flex;
  padding: 0.5rem;
  border-radius: 2px;
  margin-bottom: 0.5rem;
}
.side-panel .speaker .icon {
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
}
.side-panel .speaker .name {
  padding-left: 1rem;
  vertical-align: bottom;
  line-height: 2.5rem;
  font-size: 1.1rem;
}
#enrolled-speakers {
  padding: 1rem;
  flex: 1;
}
#enroll-btn {
  margin: 2rem 0;
}
.q-and-a-panel {
  flex: 1;
  padding: 1rem;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  position: relative;
}
.q-and-a-panel .question,
.q-and-a-panel .answer {
  margin: 0.5rem;
  line-height: 2rem;
  display: inline-block;
  padding: 0.5rem;
  border-radius: 2rem;
  clear: both;
}
.q-and-a-panel .question .icon,
.q-and-a-panel .answer .icon {
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
}
.q-and-a-panel .question .text,
.q-and-a-panel .answer .text {
  margin: 0 1rem;
  position: relative;
}
.q-and-a-panel .question {
  float: left;
}
.q-and-a-panel .question > div {
  display: flex;
}
.q-and-a-panel .question .text::before {
  content: '';
  position: absolute;
  left: -0.5rem;
  width: 1px;
  height: 100%;
  background-color: #c8c8c8;
}
.q-and-a-panel .answer {
  float: right;
  text-align: right;
  flex-direction: column-reverse;
}
.q-and-a-panel .history {
  flex: 1;
}
.q-and-a-panel .new-query {
  padding: 0.5rem;
  display: flex;
  position: relative;
  height: 5rem;
}
.q-and-a-panel .new-query #wave-form {
  flex: 1;
}
.q-and-a-panel .new-query #record-query-btn {
  position: absolute;
  margin: auto;
  display: block;
  width: 100%;
}
.enrolling .side-panel {
  padding: 1rem;
  width: 350px;
  background-color: #fff !important;
}
.enrolling #enrolled-speakers,
.enrolling #enroll-btn {
  display: none;
}
.enrolling #enrollment-form {
  display: block;
}
.enrolling .q-and-a-panel {
  filter: blur(1px);
  overflow: hidden;
}
.enrolling .q-and-a-panel::after {
  content: '';
  position: absolute;
  background-color: rgba(31, 31, 31, 0.85);
  -webkit-backdrop-filter: blur(10px);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}
#enrollment-form {
  display: none;
}
#enrollment-form #voice-enroll-btn {
  padding: 1rem;
}
#enrollment-form #voice-enroll-btn > h6 {
  font-weight: 500;
  margin-bottom: 1.5rem;
}
#enrollment-form #voice-enroll-btn .sample-text {
  margin: 1.5rem 0.5rem 1rem;
  text-align: center;
}
#enrollment-form .row label {
  font-size: 0.9rem;
}
